@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff
}

header{
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: max-content;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  color:#060199;
  text-decoration: none;
  float: right;
  margin-top: -1.2%;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  color: #270f85b4;
}
  
.swrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: -1.5rem auto;
}

.swrapper .label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.swrapper .searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

  label #sidebar_btn{
    z-index: 1;
    color: #060199;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color:#0601997c;
  }

  
.dashtabs_content {
    position: relative; }
    .dashtabs_content .QRInfo {
      margin: auto;
      padding: 1rem 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0px;
      /* border: 1px solid rgba(133,102,255, 0.5); */
      background: #F4F2FF;
      /* box-shadow: 0 1rem 2rem rgba(136, 135, 161, 0.4); */
      margin-top:8rem;
      /* box-shadow: 3px 3px 5px 6px #ccc; */
       }
      .dashtabs_content .QRInfo_1 {
        width: 50%; }
        .dashtabs_content .QRInfo_1 > span {
          font-size: 1.1rem;
          font-weight: 600;
          color: #060199; }
        .dashtabs_content .QRInfo_1 > h3 {
          font-size: 1.5rem;
          color: #060199;
          margin: 0.5rem 0 1rem 0; }
          .dashtabs_content .QRInfo_1 > h3 > i {
            margin-right: 0.5rem; }
        .dashtabs_content .QRInfo_1 > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap; }
          .dashtabs_content .QRInfo_1 > div > span {
            cursor: pointer;
            color: #060199;
            width: 40%;
            margin-top: 0.4rem;
            font-size: 1.1rem; }
            .dashtabs_content .QRInfo_1 > div > span > i {
              margin-right: 0.4rem; }
      .dashtabs_content .QRInfo_2 {
        display: flex;
        align-items: center; }
        .dashtabs_content .QRInfo_2 > div > p {
          text-align: center; }
          .dashtabs_content .QRInfo_2 > div > p > span {
            display: block;
            font-size: 3rem;
            color: #060199; }
          .dashtabs_content .QRInfo_2 > div > p > small {
            font-size: 1.2rem; }
        .dashtabs_content .QRInfo_2 > div > button {
          background: transparent;
          border: none;
          outline: none;
          color: #615397;
          cursor: pointer;
          font-size: 1.2rem;
          margin-top: 2rem; }
        .dashtabs_content .QRInfo_2 > div > img {
          width: 10rem;
          height: 10rem;
          margin-left: 2rem; }
          .dashtabs_content .QRInfo_3{
            display: flex;
          }
      .dashtabs_content .QRInfo_3 > button {
        /* color: #6f4df8;
        border-radius: 5px;
        background: #ffffff;
        padding: 0.5rem;
        font-size: 3rem;
        cursor: pointer; } */
        background: hsla(242, 99%, 30%, 1);

        background: linear-gradient(90deg, hsla(242, 99%, 30%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

        background: -moz-linear-gradient(90deg, hsla(242, 99%, 30%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

        background: -webkit-linear-gradient(90deg, hsla(242, 99%, 30%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#060199", endColorstr="#0B3866", GradientType=1 );
        border: none;
        color: white;       
        padding: 15px 32px;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1rem 1rem;
        cursor: pointer;
        flex: 1;
        margin-right: 4rem;}


/* website-cc */
.stats .column {
  text-align: center;
  width: 15%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  /* background-color: #9d9cb4ef; */ 
}
.stats .column:last-of-type{
  height: 12rem;
  padding: 3rem;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F2FF;
  border-radius: 12px;
  margin-left: 3rem;
}
.column_div > p{
  font-size: 1.3rem;
  color: #060199;
}
.stats .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clear floats after the columns */
.stats .row:after {
  content: "";
  display: table;
  clear: both;
}

.stats{
  margin: auto;
  margin-top: 3rem;
}

/* pie-chart */
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #060199;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #8566FF;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.9130434783px/2);
  top: calc(50% - 173.9130434783px/2);
  width: 173.9130434783px;
  height: 173.9130434783px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #3dbcf9;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}


.progress-pie-chart {
  margin: 50px auto 0;
}

/* graphs */

.graphs .column {
  width: 40%;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.graphs .row {
  display: flex;
  justify-content: center;
}

.graphs{
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* vertical chart */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
.igFrameBar {
  width: 400px;
  height: 200px;
  position: relative;
  background: #f2f2f2;
  margin: 15% auto 0px auto;
  margin-top: 8rem;
  transform: translate(0, -50%);
}

.igFrameBar:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
}

.igFrameBar:after {
  content: "";
  width: 100%;
  height: 50%;
  background: transparent;
  position: absolute;
  top: 25%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.igData {
  width: 20px;
  position: absolute;
  bottom: 1px;
  margin: 0px 0px 0px 0px;
  z-index: 99;
  float: left;
}

.igData1 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 26.3636363636px;
  -webkit-animation: showBar1 1.2s 0.1s forwards;
  -moz-animation: showBar1 1.2s 0.1s forwards;
  animation: showBar1 1.2s 0.1s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData2 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 62.7272727273px;
  -webkit-animation: showBar2 1.2s 0.2s forwards;
  -moz-animation: showBar2 1.2s 0.2s forwards;
  animation: showBar2 1.2s 0.2s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData3 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 99.0909090909px;
  -webkit-animation: showBar3 1.2s 0.3s forwards;
  -moz-animation: showBar3 1.2s 0.3s forwards;
  animation: showBar3 1.2s 0.3s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData4 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 135.4545454545px;
  -webkit-animation: showBar4 1.2s 0.4s forwards;
  -moz-animation: showBar4 1.2s 0.4s forwards;
  animation: showBar4 1.2s 0.4s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData5 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 171.8181818182px;
  -webkit-animation: showBar5 1.2s 0.5s forwards;
  -moz-animation: showBar5 1.2s 0.5s forwards;
  animation: showBar5 1.2s 0.5s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData6 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 208.1818181818px;
  -webkit-animation: showBar6 1.2s 0.6s forwards;
  -moz-animation: showBar6 1.2s 0.6s forwards;
  animation: showBar6 1.2s 0.6s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData7 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 244.5454545455px;
  -webkit-animation: showBar7 1.2s 0.7s forwards;
  -moz-animation: showBar7 1.2s 0.7s forwards;
  animation: showBar7 1.2s 0.7s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData8 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 280.9090909091px;
  -webkit-animation: showBar8 1.2s 0.8s forwards;
  -moz-animation: showBar8 1.2s 0.8s forwards;
  animation: showBar8 1.2s 0.8s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData9 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 317.2727272727px;
  -webkit-animation: showBar9 1.2s 0.9s forwards;
  -moz-animation: showBar9 1.2s 0.9s forwards;
  animation: showBar9 1.2s 0.9s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData10 {
  background: linear-gradient(180deg, #8566FF 0%, rgba(158, 140, 231, 0.601042) 50.31%, rgba(133, 102, 255, 0.24) 100%);
  height: 0px;
  left: 353.6363636364px;
  -webkit-animation: showBar10 1.2s 1s forwards;
  -moz-animation: showBar10 1.2s 1s forwards;
  animation: showBar10 1.2s 1s forwards;
  border-radius: 1em 1em 0em 0rem;
}

.igData:before {
  position: absolute;
  top: -16px;
  font-size: 12px;
  color: #333;
  font-family: "roboto";
  font-weight: 300;
}

.igData1:before {
  content: "50%";
}

.igData2:before {
  content: "40%";
}

.igData3:before {
  content: "70%";
}

.igData4:before {
  content: "22%";
}

.igData5:before {
  content: "35%";
}

.igData6:before {
  content: "40%";
}

.igData7:before {
  content: "85%";
}

.igData8:before {
  content: "36%";
}

.igData9:before {
  content: "88%";
}

.igData10:before {
  content: "62%";
}

.igData:after {
  position: absolute;
  bottom: -55px;
  transform: rotate(30deg);
  color: #666;
  font-size: 14px;
  text-align: left;
  font-family: "roboto";
  font-weight: 300;
  width: 150px;
}

.igData1:after {
  content: "Jan";
}

.igData2:after {
  content: "Feb";
}

.igData3:after {
  content: "Mar";
}

.igData4:after {
  content: "Apr";
}

.igData5:after {
  content: "May";
}

.igData6:after {
  content: "June";
}

.igData7:after {
  content: "July";
}

.igData8:after {
  content: "Aug";
}

.igData9:after {
  content: "Sep";
}

.igData10:after {
  content: "Oct";
}

@-webkit-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@-webkit-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-webkit-keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@-webkit-keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@-webkit-keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@-webkit-keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-webkit-keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@-webkit-keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@-webkit-keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@-webkit-keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}
@-moz-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@-moz-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-moz-keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@-moz-keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@-moz-keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@-moz-keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@-moz-keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@-moz-keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@-moz-keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@-moz-keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}
@keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50%;
  }
}
@keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70%;
  }
}
@keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22%;
  }
}
@keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35%;
  }
}
@keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}
@keyframes showBar7 {
  0% {
    height: 0px;
  }
  100% {
    height: 85%;
  }
}
@keyframes showBar8 {
  0% {
    height: 0px;
  }
  100% {
    height: 36%;
  }
}
@keyframes showBar9 {
  0% {
    height: 0px;
  }
  100% {
    height: 88%;
  }
}
@keyframes showBar10 {
  0% {
    height: 0px;
  }
  100% {
    height: 62%;
  }
}

/* vertical graph */

.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal {
  max-width: 380px;
}

.bar-graph-horizontal > div {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .year {
  float: left;
  margin-top: 18px;
  width: 70px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.bar-graph-one .bar-one .bar {
  background-color: #64b2d1;
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
}

.bar-graph-one .bar-two .bar {
  background-color: #5292ac;
  -webkit-animation: show-bar-two 1.2s 0.2s forwards;
  -moz-animation: show-bar-two 1.2s 0.2s forwards;
  animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-graph-one .bar-three .bar {
  background-color: #407286;
  -webkit-animation: show-bar-three 1.2s 0.3s forwards;
  -moz-animation: show-bar-three 1.2s 0.3s forwards;
  animation: show-bar-three 1.2s 0.3s forwards;
}

.bar-graph-one .bar-four .bar {
  background-color: #2e515f;
  -webkit-animation: show-bar-four 1.2s 0.4s forwards;
  -moz-animation: show-bar-four 1.2s 0.4s forwards;
  animation: show-bar-four 1.2s 0.4s forwards;
}

/* Bar Graph Horizontal Animations */
@-webkit-keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 69.6%;
  }
}

@-webkit-keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 71%;
  }
}

@-webkit-keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 74.7%;
  }
}

@-webkit-keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 76.8%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
