@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
.containere {
  background: #E8EAEE;
  width: 850px;
  min-height: 610px;
  position: relative;
  margin-top: 50px;
  border-radius: 50px 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 31px 10px rgba(0, 28, 67, 0.31);
          box-shadow: 2px 2px 31px 10px rgba(0, 28, 67, 0.31);
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #3DBB3D;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.CTA {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #7ED386;
  font-size: 1em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.CTA h1 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 9px;
}

.CTA:hover {
  background: #3FB6A8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.leftbox {
  background: #D1D6DD;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 4px 20px -4px rgba(64, 89, 166, 0.3);
          box-shadow: 3px 4px 20px -4px rgba(64, 89, 166, 0.3);
  border-radius: 63px;
  float: left;
  top: 5%;
  left: 5%;
  bottom: 5%;
  position: absolute;
  width: 8%;
  height: 90%;
}

nav a {
  list-style: none;
  padding: 18px;
  color: #5D6F87;
  font-size: 1.2em;
  display: block;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav a:hover {
  color: #001c43;
  cursor: pointer;
}

nav a:first-child {
  margin-top: 6px;
}

.rightbox {
  float: right;
  width: 100%;
  height: 100%;
}

.profile, .payment, .subscription, .privacy, .settings, .mobile, .bitcoin, .twitter, .facebook {
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  margin-left: 20rem;
  margin-bottom: 5rem;
}

.containere h1 {
  font-family: "Montserrat", sans-serif;
  color: #7ED386;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

.containere h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

.containere p {
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
     border-image: -webkit-gradient(linear, left top, right top, from(#3FB6A8), to(rgba(126, 211, 134, 0.5))) 1 0%;
     border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: .7em;
  padding: 7px 0;
  color: #070707;
}

.containere span {
  font-size: .5em;
  color: #777777;
}

.containere input {
  border: 1px solid #dddddd;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  margin: 0;
  width: 100%;
}

.privacy h2 {
  margin-top: 25px;
}

.settings h2 {
  margin-top: 25px;
}

.noshow {
  display: none;
}

/* cards inside timeline */
.card {
  border: none;
}

.card-img {
  border-radius: 0;
}

.vgr-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 40px;
  height: 450px;
}

.vgr-cards .card:nth-child(even) .card-img-body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.vgr-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}

@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}

.vgr-cards .card-title {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #344FA1;
}

.vgr-cards .card-body .card-text p {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #344FA1;
}

.vgr-cards .card-img-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}

@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}

.vgr-cards .card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: 100%;
  }
}

.vgr-cards .card-body {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 0 0 1.25rem;
}

@media (max-width: 576px) {
  .vgr-cards .card-body {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */