$logo: #3DBB3D;
$gray: #777777;
$black: #070707;
$green: #7ED386;
$aqua: #3FB6A8;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

$hulu: 'Nunito Sans', sans-serif;
$heading: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;

.containere { 
  background: #E8EAEE;
  width: 850px;
  min-height: 480px;
  margin-inline-start: 100px;
  position: relative;
  margin-top: 50px;
  box-shadow: 2px 2px 31px 10px rgba(0,28,67, 0.31);
  border-radius: 50px;
  display: flex;
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: $hulu;
  color: $logo;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.CTA {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: $green;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all .5s ease-in-out;
  cursor: pointer;
  h1 {
    color: $white;
    margin-top: 10px;
    margin-left: 9px;
  }
  &:hover {
    background: $aqua;
    transform: scale(1.1);
  }
}

.leftbox {
  background: #D1D6DD;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 3px 4px 20px -4px rgba(64, 89, 166, 0.3);
  border-radius: 63px;
  float: left;
  top: 5%;
  left: 5%;
  position: absolute;
  width: 9%;
  height: 90%;
}

nav a {
  list-style: none;
  padding: 30px;
  color: #5D6F87;
  font-size: 1.1em;
  display: block;
  transition: all .3s ease-in-out;
  &:hover {
    color: #001c43;
    transform: scale(1.2);
    cursor: pointer;
  }
  &:first-child {
    margin-top: 7px;
  }
}

.active {
  color: #001c43;
}

.rightbox {
  float: right;
  width: 100%;
  height: 100%;
}

.profile, .payment, .subscription, .privacy, .settings {
  transition: opacity .5s ease-in;
  margin-left: 20rem;
  margin-bottom: 5rem;
}

.containere h1 {
  font-family: $heading;
  color: $green;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

.containere h2 {
  color: $gray;
  font-family: $body;
  width: 80%;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

.containere p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, $aqua, rgba($green,.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: $heading;
  font-size: .7em;
  padding: 7px 0;
  color: $black;
}
.containere span {
  font-size: .5em;
  color: $gray;
}

.containere input {
  border: 1px solid lighten($gray,40%); 
  font-family: $body;
  padding: 2px;
  margin: 0;
}

.privacy h2{
  margin-top: 25px;
}

.settings h2{
  margin-top: 25px;
}

.noshow {
  display: none;
  // opacity: 0;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $body;
  p {
    border: none;
    padding: 0;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: #7d7d7d;
    }
  }
}

/* cards inside timeline */

.card {
  border: none;
}
.card-img {
  border-radius: 0;
}

.vgr-cards {
  .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;
    height: 450px;

    &:nth-child(even) .card-img-body {
      order: 2;
    }

    &:nth-child(even) .card-body {
      padding-left: 0;
      padding-right: 1.25rem; 
    }
    
    @media (max-width: 576px) {
      display: block;
    }
    
  }

  .card-title {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #344FA1;
      }

  .card-body .card-text p{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #344FA1;
  }
  .card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
    
    @media (max-width: 576px) {
      width: 100%;
      height: 200px;
          margin-bottom: 20px;
    }
    
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    
    @media (max-width: 1140px) {
          margin: 0;
    transform: none;
    width: 100%;
    height: 100%;
    }
    
  }

  .card-body {
    flex: 2;
    padding: 0 0 0 1.25rem;
    
    @media (max-width: 576px) {
      padding: 0;
    }
    
  }
}
